.aboutUs-Section {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
    padding: 20px;
    max-width: 1200px;
    margin: 20px auto;
    font-size: 18px;
    transition: box-shadow 0.3s ease-in-out;
    font-family: 'Arial', sans-serif;
    animation: slideIn 1s ease-out; /* Added slide-in animation */
}

@keyframes slideIn {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.aboutUs-Image {
    align-self: center; /* Vertically align image to center */
}

.aboutUs-Image img {
    max-width: 100%;
    height: 300px;
    width: 270px;
    border-radius: 8px;
    transition: transform 0.3s ease-in-out;
}

.aboutUs-Image:hover img {
    transform: scale(1.04);
}

.aboutUs-Content {
    text-align: left;
}

.aboutUs-Section h2 {
    margin-top: 90px;
    padding-top: 40px;
    color: #333;
    transition: color 0.3s ease-in-out;
}

.aboutUs-Section:hover h2 {
    padding-top: 40px;
    color: #4CAF50; /* Change to your desired hover color */
}

.aboutUs-Section p {
    color: #666;
    transition: color 0.3s ease-in-out;
}

.aboutUs-Section:hover p {
    color: #888; /* Change to your desired hover color */
}

.contactUs-Button {
    display: block;
    margin: 40px auto;
    padding: 10px 20px;
    background-color: #000000; /* Change to your desired button color */
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.contactUs-Button:hover {
    background-color: #4CAF50; /* Change to your desired hover button color */
}

@media screen and (max-width: 768px) {
    .aboutUs-Section {
        grid-template-columns: 1fr;
    }

    .aboutUs-Section {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap: 10px;
        padding: 20px;
        max-width: 1200px;
        margin: 20px auto;
        text-align: center;
    }

    .aboutUs-Section h2,
    .aboutUs-Section p {
        text-align: center;
    }

    .aboutUs-Image img {
        max-width: 100%;
        height: auto;
        border-radius: 8px;
        transition: transform 0.3s ease-in-out;
    }
}