/* learn.css */

.learn-Section {
    display: flex; /* Use flex for better responsiveness */
    flex-wrap: wrap; /* Allow items to wrap to the next line */
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
    padding: 20px;
    max-width: 800px; /* Set a specific max-width for better readability on larger screens */
    margin: 20px auto;
    font-size: 20px; /* Slightly larger font size for better readability */
    transition: box-shadow 0.3s ease-in-out;
    font-family: 'Arial', sans-serif;
    animation: slideIn 1s ease-out; /* Added slide-in animation */
}

.learn-Section h2 {
    color: #333;
    font-size: 22px;
    font-weight: 550;
    margin: 20px;
}

.learn-Section img {
    max-width: 100%; /* Make images responsive */
    height: auto;
    border-radius: 50%;
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
}

.learn-Section img:hover {
    transform: scale(1.1);
}

.learn-Section .paragraph-container {
    background-color: #f9f9f9; /* Use a slightly off-white background */
    padding: 20px;
    border-radius: 12px; /* Increased border-radius for a softer look */
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1); /* Increased box-shadow for a subtle lift */
    margin-top: 20px;
    text-align: justify; /* Use justified text for a cleaner look */
}

.learn-Section p {
    color: #666;
    font-size: 18px; /* Slightly larger font size for better readability */
    line-height: 1.8;
    margin: 0;
}

.learn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 20px;
    max-width: 800px;
    margin: 20px auto;
}
@media  screen and (max-width: 768px) {

    p{
        font-size: 15px;
    }
    
}