
.ProductService-section {
    max-width: 1450px;
    margin: 7px auto;
    padding: 20px;
    transition: box-shadow 0.3s ease-in-out;
    font-family: 'Arial', sans-serif;
    background-color: white;
    color: #333;
}

.product-h1 {
    text-align: center;
    color: #121312;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 40px;
}

.product-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
}

.product {
    text-align: center;
    margin: 20px;
    transition: transform 0.3s ease-in-out;
}

.product:hover {
    transform: scale(1.05);
}

.product img {
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    border: 3px solid #4CAF50;
    transition: border-color 0.3s ease-in-out;
}

.product:hover img {
    border-color: #ff6600; /* Change to your desired hover color */
}

.product-h3 {
    margin-top: 10px;
    font-size: 20px;
    color: #333;
    transition: color 0.3s ease-in-out;
}

.product:hover .product-h3 {
    color: #4CAF50;
}

.ProductDescription {
    text-align: center;
    margin-top: 20px;
}

.ProductDescription p {
    line-height: 1.6;
    color: #555; /* Slightly different color for better contrast */
    font-size: 18px;
    text-align: center;
    margin: 20px 0;
    position: relative;
    padding: 20px; /* Add some padding for better visual appeal */
    border-radius: 8px; /* Add rounded corners for a softer look */
    transition: background-color 0.3s ease-in-out;
}

.ProductDescription p:hover {
    background-color: white; /* Change to a slightly different background color on hover */
}

.swipe-left-button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #e0e5e1;
    color: #000000;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.1s ease-in-out;
    font-weight: bold;
}

.swipe-left-button:hover {
    background-color: #000000; /* Change to your desired hover button color */
    color: #e0e5e1;
}

@media screen and (max-width: 768px) {
    .product-container {
        flex-direction: column;
        align-items: center;
    }

    .product {
        margin: 20px 0;
    }
}

/* Modal styles for Menu Image */

.menu-modal {
    display: none;
}

.menu-modal-content {
    background-color: #fefefe;
    margin: 0 auto;
    padding: 40px;
    border: 1px solid #888;
    border-radius: 10px;
    position: relative;
    max-width: 80%;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.menu-modal-content.fadeIn {
    animation: fadeIn 0.5s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.menu-close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    font-weight: bold;
    color: #888;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
}

.menu-close:hover {
    color: #555;
}

/* Modal styles for Menu Image */

.menu-image {
    max-width: 100%;
    height: auto;
}

.menu-call-to-book {
    display: block;
    text-align: center;
    padding:  20px;
    background-color: #d2d6d2;
    color: #2c2929;
    text-decoration: none;
    font-weight: 600;
    border-radius: 20px;
    margin-top: 20px;
}

.menu-call-to-book:hover {
    background-color: #2c2929;
    color: #d2d6d2;
    text-decoration: none;
}

/* Responsive styles for Menu Modal */
@media screen and (max-width: 768px) {
    .menu-modal-content {
        max-width: 90%; /* Adjust the size as needed for smaller screens */
    }
}
