*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}

.home {
    width: 100%; 
    background-image: url("./images/pexels-nicu-cobasnean-19748937.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

nav{
    padding-top: 2rem;
}


.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 300px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    font-size: 20px;
    gap: 20px;
    padding-top: 20px;
}


.sidebar li:first-child{
    margin-top: 20px;
    position: absolute;
    right: 0;
    top: 0;
}


nav ul {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center; 
}


nav a {
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;
    color: white;
    position: relative;
    transition: color 0.3s ease-in-out;
}

nav h1 {
    padding: 0 30px;
    align-items: center;
    color: white;
    font-size: 30px;
}

nav a:hover {
    color: #4CAF50; /* Change color on hover */
    text-decoration: none;
}

nav a::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #4CAF50; /* Initial color for the line */
    transform: scaleX(0); /* Initially, the line is not visible */
    transform-origin: bottom right;
    transition: transform 0.3s ease-in-out;
}

nav a:hover::before {
    transform: scaleX(1); /* Expand the line on hover */
    transform-origin: bottom left;
}

nav li:first-child{
    margin-right: auto;
}


.div-margin {
    padding-top: 2rem;
    padding-left: 2rem;
    padding-right: 2rem;
}
.row {
    display: flex;
    float: left;
    text-align: left;
}
.column {
    width: 25%;
    padding-right: 1.5rem;
}

.hero{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


.hero h1 {
    color: white;
    font-size: 40px;
}

.hero-btn {
    margin-top: 20px;
    padding: 10px 24px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 10px;
    font-size: 20px;
}
.hero-btn:hover {
    background-color: black;
    color: #4CAF50;
}



.menu-btn{
    display: none;
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {
    
    .hideOnMobile{
        display: none;
    }
    
    .menu-btn{
        display: block;
    }

    .column {
        width: 100%;
    }
    .row {
    display: block;
    }

    .hero h1 {
        color: white;
        font-size: 60px;
        text-align: center;
        align-items: center;
    }

    .main-nav h1{
        font-size: 20px;
    }
}

@media (max-width: 400px) {
    .sidebar{
        padding-top: 100px;
        position: absolute;
        width: 100%;
        background-color: rgba(255, 255, 255, 0.459);
        backdrop-filter: blur(10px);
    }

    .hero h1 {
        font-size: 40px;
    }
}

